main {
    position: relative;
    width: 95%;
    height: 800px;
    margin: auto;
    background-color: #ccc;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    font-size: 20px; 
}
header {
    position: relative;
    width: 100%;
    height: 90px;
    background-color: #ccff00; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#lado_esquerdo{
    position: relative;
    width: 30%;
    height: 600px;
    background-color: #7dfff9;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    float: left;
}
#lado_esquerdo p{
    margin-top: 0%;
    margin-bottom: 0%;
}
.quadrado_branco{
    position: relative;
    width: 93%;
    height: 300px;
    background-color: #fff;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}
#lado_direito{
    position: relative;
    width: 70%;
    height: 600px;
    background-color: #3e4cce;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    float: left;
}
#lado_direito p{
    margin-top: 0%;
    margin-bottom: 0%;
} 
article{
    position: relative;
    width: 98%;
    height: 560px;
    background-color: #fff;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
}
article h1{
    position: relative;
    width: 100%;
    height: 40px;
    background-color: #7dfff9;
    margin-top: 0%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
article p{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: #f36e57;
    color: #fff;
    margin: 0%;
    display: flex;
    align-items: start;
    justify-content: left;
}
article div{
    position: relative;
    width: 100%;
    height: 215px;
    background-color: #adb2fc;
    margin-top: 10px;
    display: flex;
    align-items: start;
    justify-content: left;
}
footer{
    position: relative;
    width: 100%;
    height: 110px;
    background-color: #1f0b08;
    color: #fff;
    clear: left;
}
