main{
    position: relative;
    margin: auto;
    width: 90%;
    height: auto;
    background: #ccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #fff;
    text-decoration: none;
    font-weight: normal;
    
}

#cabecalho_principal{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#menu{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: rgb(4, 27, 179);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
#menu a{
    position: relative;
    color: #fff;
    text-decoration: none;
    width: 100%;
    padding: 15px;
    padding-bottom: 10px;
    font-size: 25px;
}
#menu_lateral{
    position: relative;
    width: 20%;
    height: 700px;
    display: flex;
    flex-direction: column;
    border-bottom: #fff solid 10px ;
    align-items: end;
    background-color: #c500f4;
    justify-content:start;
    float: left;
}
#menu_lateral a{
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
    padding-top: 19px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: #fff solid 1px;
    margin: auto;
    padding-left: 15px;
    background-color: red;
    color: #fff;
}
section {
    position: relative;
    width: 60%;
    height: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 10px;
    float: left;
}
#cabecalho_secundario p{
    font-size: 40px;
    color: #000;
}
#cabecalho_secundario{
    position: relative;
    width: 95%;
    height: 85px;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: #fff;
    color: #000;
    clear: left;
}
#meio{
    position: relative;
    width: 95%;
    height: 250px;
    margin: 5px 0;
    display: flex;
    align-items: first baseline;
    justify-content: center;
    background-color: #864c1d;
    color: #fff;
    clear: left;
}
#texto_meio{ 
    width: 95%;
    height: 150px;
    margin: 5px 0;
    display: flex;
    align-items: first baseline;
    justify-content:left;
    font-size: 16px;
    background-color: rgb(173, 252, 239);
    color: #000;
    clear: left;
}
#quadrados{
    position: relative;
    width: 97%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
}
.quadrados_pequenos{
    position: relative;
    font-size: 16px;
    width: 30%;
    height: 170px;
    margin: 5px 10px ;
    background-color: rgb(53, 53, 53);
    color: #ffffff;
    float: right;
}
.imgs{
    width: 100%;
    height: 100%;
}
aside{
    position: relative;
    width: 20%;
    height: 710px;
    background-color: #c500f4;
    display: flex;
    align-items:first baseline;
    justify-content: center;
    float: left;
}
footer{
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clear: left;
}
#menu_lateral a:hover{
    background-color: #c500f4;
}
#menu a:hover{
    background-color: #fff;
    color: rgb(4, 27, 179);
}
