body{
    position: relative;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
main{
    width: 90%;
    height: auto;
    margin: auto;
    /*background-color: lime;*/
}
#titulo_pagina{
    width: 100%;
    height: 120px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_superior{
    width: 100%;
    height: 40px;
    background-color: #009;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#menu_superior a{
    color: #fff;
    text-decoration: none;
    width: 16.67%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /*conteudo se encaixa no espaço existente (se eu aumentar o padding, borda ou margem ele se alinha no espaço que ele tem para preencher)*/
}
#menu_superior a:hover{
    color: #009;
    transition: all 0.5s;
    background-color: #fff;
}
#menu_lateral{
    width: 25%;
    height: 480px;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#menu_lateral a{
    color: #e2e2e2;
    background-color: #777;
    width: 100%;
    height: auto;
    padding: 10px;
    box-sizing: border-box;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    text-align: left;
}
#menu_lateral a:hover{
    background-color: #000;
    border-color: #f00;
}
#meio{
    width: 48%;
    height: 480px;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
}
#meio p{
    text-align: left;
    color: #000;
    padding: 5px;
    box-sizing: border-box;
}
#titulo_meio{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: #000;
}
#div_meio{
    width: 100%;
    height: 170px;
}
.imagens{
    width: 100%;
    height: 100%;
}
#meio p{
    width: 100%;
    height: 110px;
    background-color: #947cff;
    margin-top: 10px;
    
}
#container{
    width: 100%;
    height: 140px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.caixa{
    width: 30%;
    height: 130px;
}
#caixa1{
    background-image: url("/assets/paisagem2.jpg");
    background-size: cover;

}
#caixa2{
    background-image: url("/assets/paisagem1.jpg");
    background-size: cover;
}
#caixa3{
    background-image: url("/assets/sol.jpg");
    background-size: cover;
}
aside{
    width: 25%;
    height: 480px;
    background-color: rgb(255, 108, 243);
    float: left;
}
footer{
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    clear: left;
}

/*tamanho celular*/
@media only screen and (max-width: 480px){
    main{
        width: 98%;
    }
    
    #menu_superior{
        height: auto;
        flex-direction: column;
        background-color: transparent;
    }
    #menu_superior a{
        width: 100%;
        background-color: #009;
        margin-top: 3px;

    }
    #titulo_meio{
        height: 10px;
        background-color: #fff;
        color: #000;
    }   
    #menu_lateral, aside, #div_meio, p{
        display: none;
    }
    #meio{
        width: 100%;
    }
    .caixa{
        width: 60%;
        height: 140px;
        margin: 5px;
    }
    #container{
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

}



/*tamanho tablet*/

@media only screen and (min-width: 481px){
    @media only screen and (max-width: 720px){

        main{
            width: 95%;
        }
        #menu_superior{
            height: 80px;
            flex-wrap: wrap; /* exibe uma quebra de linha se necessario*/
        }
        #menu_superior a{
            width: 33.1%;
            color: #ff0;
        }
        #menu_lateral, aside{
            display: none;
        }
        #meio{
            width: 100%;
        }
    }
}