body{
    position: relative;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
main{
    width: 90%;
    height: auto;
    margin: auto;
}
h1, h3{
    height: 35px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}
.cabecalho{
    width: 100%;
    height: 120px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu_superior{
    width: 100%;
    height: 40px;
    background-color: #009;
    display: flex;
    justify-content: left;
    align-items: end;
}

.container_principal{
    display: flex;
}
#menu_lateral{
    width: 25%;
    height: 480px;
    display: flex;
    background-color: #c2c2c2;
    justify-content: center;
}
#meio{
    width: 48%;
    height: 480px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #ffbafc;
}
.meio_cabecalho_titulo{
    width: 100%;
    height: 35px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#div_meio{
    width: 100%;
    height: 170px;
    margin-top: 10px;
    background-color: #af6f0d;
}

#meio p{
    width: 100%;
    height: 110px;
    background-color: #c0ebff;
    margin-top: 10px;
    font-size: 14px;
    
}
#container_caixas{
    width: 100%;
    height: 110px;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.caixa{
    width: 30%;
    height: 95px;
    background-color: #6b6b6b;
}
aside{
    width: 25%;
    height: 480px;
    background-color: rgb(227, 40, 252);
}
footer{
    width: 100%;
    height: 60px;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/*tamanho celular*/
@media only screen and (max-width: 480px){
    main{
        width: 98%;
    }
    
   .meio_cabecalho_titulo{
        height: 30px;
        background-color: #fff;
        color: #000;
    }   
    #menu_lateral, aside, #div_meio, p{
        display: none;
    }
    #meio{
        width: 100%;
    }
    .caixa{
        width: 100%;
        height: 120px;
        margin: 5px;
    }
    #container_caixas{
        flex-direction: column;
        justify-content: space-around;
        height: auto;
    }

}



/*tamanho tablet*/

@media only screen and (min-width: 481px){
    @media only screen and (max-width: 720px){

        main{
            width: 95%;
        }
        #menu_superior{
            height: 80px;
            flex-wrap: wrap; /* exibe uma quebra de linha se necessario*/
        }
        #menu_lateral, aside{
            display: none;
        }
        #meio{
            width: 100%;
        }
        
    }
}