.fundo_muralha_china{
    width: 100%;
    height: 700px;
    background-image: url(../../assets/imagens/Muralha.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content:space-around;
}
.fundo_muralha_china h1{
    background-color: rgba(225, 255, 255, 0.8);
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    text-align: center;
}